<% wrap_layout :inner do %>
<% content_for :sidebar do %>
  <div class="docs-sidebar hidden-print affix-top" role="complementary">
    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("docs-home") %>>
      <a href="/docs/providers/index.html">All Providers</a>
      </li>

      <li<%= sidebar_current("docs-illumio-core-index") %>>
      <a href="/docs/providers/illumio-core/index.html">Illumio Core Provider</a>
      </li>

      <li<%= sidebar_current("docs-illumio-core-datasource") %>>
      <a href="#">Data Sources</a>
      <ul class="nav nav-visible">
        <li<%= sidebar_current("docs-illumio-core-data-source-container-cluster-service-backends-profile") %>>
          <a href="/docs/providers/illumio-core/d/container_cluster_service_backends.html">illumio-core_container_cluster_service_backends</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-container-cluster-workload-profile") %>>
          <a href="/docs/providers/illumio-core/d/container_cluster_workload_profile.html">illumio-core_container_cluster_workload_profile</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-container-cluster-workload-profiles") %>>
          <a href="/docs/providers/illumio-core/d/container_cluster_workload_profiles.html">illumio-core_container_cluster_workload_profiles</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-container-cluster") %>>
          <a href="/docs/providers/illumio-core/d/container_cluster.html">illumio-core_container_cluster</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-container-clusters") %>>
          <a href="/docs/providers/illumio-core/d/container_clusters.html">illumio-core_container_clusters</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-enforcement-boundary") %>>
          <a href="/docs/providers/illumio-core/d/enforcement_boundary.html">illumio-core_enforcement_boundary</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-enforcement-boundaries") %>>
          <a href="/docs/providers/illumio-core/d/enforcement_boundaries.html">illumio-core_enforcement_boundaries</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-firewall-settings") %>>
          <a href="/docs/providers/illumio-core/d/firewall_settings.html">illumio-core_firewall_settings</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-ip-list") %>>
          <a href="/docs/providers/illumio-core/d/ip_list.html">illumio-core_ip_list</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-ip-lists") %>>
          <a href="/docs/providers/illumio-core/d/ip_lists.html">illumio-core_ip_lists</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-label-group") %>>
          <a href="/docs/providers/illumio-core/d/label_group.html">illumio-core_label_group</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-label-groups") %>>
          <a href="/docs/providers/illumio-core/d/label_groups.html">illumio-core_label_groups</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-label") %>>
          <a href="/docs/providers/illumio-core/d/label.html">illumio-core_label</a>
        </li>
         <li<%= sidebar_current("docs-illumio-core-data-source-labels") %>>
          <a href="/docs/providers/illumio-core/d/labels.html">illumio-core_labels</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-organization-settings") %>>
          <a href="/docs/providers/illumio-core/d/organization_settings.html">illumio-core_organization_settings</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-pairing-profile") %>>
          <a href="/docs/providers/illumio-core/d/pairing_profile.html">illumio-core_pairing_profile</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-pairing-profiles") %>>
          <a href="/docs/providers/illumio-core/d/pairing_profiles.html">illumio-core_pairing_profiles</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-rule-set") %>>
          <a href="/docs/providers/illumio-core/d/rule_set.html">illumio-core_rule_set</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-rule-sets") %>>
          <a href="/docs/providers/illumio-core/d/rule_sets.html">illumio-core_rule_sets</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-security-rule") %>>
          <a href="/docs/providers/illumio-core/d/security_rule.html">illumio-core_security_rule</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-security-rules") %>>
          <a href="/docs/providers/illumio-core/d/security_rules.html">illumio-core_security_rules</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-service-binding") %>>
          <a href="/docs/providers/illumio-core/d/service_binding.html">illumio-core_service_binding</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-service") %>>
          <a href="/docs/providers/illumio-core/d/service.html">illumio-core_service</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-services") %>>
          <a href="/docs/providers/illumio-core/d/services.html">illumio-core_services</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-syslog-destination") %>>
        <a href="/docs/providers/illumio-core/d/syslog_destination.html">illumio-core_syslog_destination</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-syslog-destinations") %>>
        <a href="/docs/providers/illumio-core/d/syslog_destinations.html">illumio-core_syslog_destinations</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-traffic-collector-settings") %>>
          <a href="/docs/providers/illumio-core/d/traffic_collector_settings.html">illumio-core_traffic_collector_settings</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-traffic-collector-settings-list") %>>
          <a href="/docs/providers/illumio-core/d/traffic_collector_settings_list.html">illumio-core_traffic_collector_settings_list</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-ven") %>>
          <a href="/docs/providers/illumio-core/d/ven.html">illumio-core_ven</a>
        </li>
         <li<%= sidebar_current("docs-illumio-core-data-source-vens") %>>
          <a href="/docs/providers/illumio-core/d/vens.html">illumio-core_vens</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-virtual-service") %>>
          <a href="/docs/providers/illumio-core/d/virtual_service.html">illumio-core_virtual_service</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-virtual-services") %>>
          <a href="/docs/providers/illumio-core/d/virtual_services.html">illumio-core_virtual_services</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-vulnerability-report") %>>
          <a href="/docs/providers/illumio-core/d/vulnerability_report.html">illumio-core_vulnerability_report</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-vulnerability-reports") %>>
          <a href="/docs/providers/illumio-core/d/vulnerability_reports.html">illumio-core_vulnerability_reports</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-vulnerability") %>>
          <a href="/docs/providers/illumio-core/d/vulnerability.html">illumio-core_vulnerability</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-vulnerabilities") %>>
          <a href="/docs/providers/illumio-core/d/vulnerabilities.html">illumio-core_vulnerabilities</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-workload-interface") %>>
          <a href="/docs/providers/illumio-core/d/workload_interface.html">illumio-core_workload_interface</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-workload-settings") %>>
          <a href="/docs/providers/illumio-core/d/workload_settings.html">illumio-core_workload_settings</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-workload") %>>
          <a href="/docs/providers/illumio-core/d/workload.html">illumio-core_workload</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-data-source-workloads") %>>
          <a href="/docs/providers/illumio-core/d/workloads.html">illumio-core_workloads</a>
        </li>
      </ul>
      </li>
      <li<%= sidebar_current("docs-illumio-core-resource") %>>
      <a href="#">Resources</a>
      <ul class="nav nav-visible">
        <li<%= sidebar_current("docs-illumio-core-resource-container-cluster-workload-profile") %>>
          <a href="/docs/providers/illumio-core/r/container_cluster_workload_profile.html">illumio-core_container_cluster_workload_profile</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-container-cluster") %>>
          <a href="/docs/providers/illumio-core/r/container_cluster.html">illumio-core_container_cluster</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-enforcement-boundary") %>>
          <a href="/docs/providers/illumio-core/r/enforcement_boundary.html">illumio-core_enforcement_boundary</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-firewall-settings") %>>
          <a href="/docs/providers/illumio-core/r/firewall_settings.html">illumio-core_firewall_settings</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-ip-list") %>>
          <a href="/docs/providers/illumio-core/r/ip_list.html">illumio-core_ip_list</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-label-group") %>>
          <a href="/docs/providers/illumio-core/r/label_group.html">illumio-core_label_group</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-label") %>>
          <a href="/docs/providers/illumio-core/r/label.html">illumio-core_label</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-organization-settings") %>>
          <a href="/docs/providers/illumio-core/r/organization_settings.html">illumio-core_organization_settings</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-pairing-profile") %>>
          <a href="/docs/providers/illumio-core/r/pairing_profile.html">illumio-core_pairing_profile</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-rule-set") %>>
          <a href="/docs/providers/illumio-core/r/rule_set.html">illumio-core_rule_set</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-security-rule") %>>
          <a href="/docs/providers/illumio-core/r/security_rule.html">illumio-core_security_rule</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-service-binding") %>>
          <a href="/docs/providers/illumio-core/r/service_binding.html">illumio-core_service_binding</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-service-bindings") %>>
          <a href="/docs/providers/illumio-core/r/service_bindings.html">illumio-core_service_bindings</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-service") %>>
          <a href="/docs/providers/illumio-core/r/service.html">illumio-core_service</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-syslog-destination") %>>
        <a href="/docs/providers/illumio-core/r/syslog_destination.html">illumio-core_syslog_destination</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-traffic-collector-settings") %>>
          <a href="/docs/providers/illumio-core/r/traffic_collector_settings.html">illumio-core_traffic_collector_settings</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-ven") %>>
          <a href="/docs/providers/illumio-core/r/ven.html">illumio-core_ven</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-vens-unpair") %>>
          <a href="/docs/providers/illumio-core/r/vens_unpair.html">illumio-core_vens_unpair</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-vens-upgrade") %>>
          <a href="/docs/providers/illumio-core/r/vens_upgrade.html">illumio-core_vens_upgrade</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-virtual-service") %>>
          <a href="/docs/providers/illumio-core/r/virtual_service.html">illumio-core_virtual_service</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-vulnerability-report") %>>
          <a href="/docs/providers/illumio-core/r/vulnerability_report.html">illumio-core_vulnerability_report</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-vulnerabilities") %>>
          <a href="/docs/providers/illumio-core/r/vulnerabilities.html">illumio-core_vulnerabilities</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-workload-interface") %>>
          <a href="/docs/providers/illumio-core/r/workload_interface.html">illumio-core_workload_interface</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-workload-interfaces") %>>
          <a href="/docs/providers/illumio-core/r/workload_interfaces.html">illumio-core_workload_interfaces</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-workload-settings") %>>
          <a href="/docs/providers/illumio-core/r/workload_settings.html">illumio-core_workload_settings</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-workload") %>>
          <a href="/docs/providers/illumio-core/r/workload.html">illumio-core_workload</a>
        </li>
        <li<%= sidebar_current("docs-illumio-core-resource-workloads-unpair") %>>
          <a href="/docs/providers/illumio-core/r/workloads_unpair.html">illumio-core_workloads_unpair</a>
        </li>
      </ul>
      </li>
    </ul>
  </div>
<% end %>

<%= yield %>
<% end %>